
@{
    ViewBag.Title = "AttendanceExcel";
}
<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

        .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
        }

    .pagination > li > a, .pagination > li > span {
        border-radius: 50% !important;
        margin: 0 5px;
    }

    #button {
        width: 80px;
        height: 25px;
        font-size: 15px;
    }

    {
        margin: 0;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -.75rem;
        margin-left: -.75rem;
    }

    #but {
        box-shadow: 5px 3px #4cff00;
    }
    .pagination > .active > a {
        background-color: #4cff00;
        border-color: #00ff21;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div style="width:100%" class="row col-md-6 col-md-offset-2 custyle">

        <h3 style="color:black;font-size:30px; width:100%">Attendace by Excel</h3>
        <div class="col-sm-12" style="width:100%">
            <div style="float:left" class="col-sm-3"    >
                <h3><b>Chi tiết điểm danh</b></h3>
            </div>
            <div style="float:right; width:150px">
                <a href="/SoDauBai/ThoiKhoaBieu/Template_TKB" style="float:left"><h4><i><u>Template</u></i></h4></a>
                <span style="margin-left:10px" class="btn btn-default btn-file">
                    + <input style="margin-left:300px; border-radius:10px; background-color:chartreuse; width:20px" type="file">
                </span>
            </div>
        </div>
        <div class="row" style="width:100%">            
                <div class="col-sm-3 col-md-3">
                    <div class="dataTables_length" style="width :60%">
                        <label style="float:left">
                            <select id="but" style="border-radius:10px" name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                        <h4 style="margin-left:80px">Hiển thị</h4>
                    </div>
                </div>
                <div class="col-sm-6" style="float:right;width:60%">

                    <div id="dataTable_filter" class="dataTables_filter" >
                        <label><input id="but" type="search" class="form-control form-control-sm" placeholder="Tìm kiếm ..." aria-controls="dataTable" style="border-radius:10px;width:100%"></label>
                    </div>
                </div>           
        </div>
        <table id="example" class="table table-striped custab">

            
        </table>
        <ul class="pagination" style="float:right">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>  

