
@{
    ViewBag.Title = "CreateClass1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <h2>ATTENDANCE</h2>
    </div>

    <!-- Vertical Layout -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CREATE CLASS
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form>
                        <label for="class_name">Class Name</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="class_name" class="form-control" placeholder="Enter your class name">
                            </div>
                        </div>
                        <label for="start_day">Start Day</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" id="start_day" class="form-control date">
                            </div>
                        </div>
                        <label for="description">Description</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="description" class="form-control" placeholder="Enter your description">
                            </div>
                        </div>
                        <br>
                        <div class="js-sweetalert">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect" data-type="success">SUBMIT</button>
                            <button type="reset" class="btn btn-danger m-t-15 waves-effect" onclick="window.location.href='/attendance/index1'">BACK TO LIST</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>