
@{
    ViewBag.Title = "ManageFaculty";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="container-fluid">
    <div class="block-header">
        <h2>
            ATTENDANCE
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        MANAGE FACULTY
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <table id="mainTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Faculty Name</th>
                                <th>Description</th>
                                <th>Faculty Deparment</th>
                                <th>Admin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td>Khoa công nghệ thông tin</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn A</td>
                                <td>Ad_CNTT</td>
                            </tr>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td >Khoa quản trị kinh doanh</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn B</td>
                                <td>Ad_QTKD</td>
                            </tr>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td>Khoa môi trường</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn C</td>
                                <td>Ad_MT</td>
                            </tr>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td>Khoa cơ khí</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn D</td>
                                <td>Ad_CK</td>
                            </tr>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td>Khoa kiến trúc</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn E</td>
                                <td>Ad_KT</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr onclick="document.location = 'DetailFaculty';">
                                <td>Khoa ngoại ngữ</td>
                                <td>Khóa 21</td>
                                <td>Nguyễn Văn F</td>
                                <td>Ad_NN</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/newVersion/mindmup-editabletable.js"></script>