
.content-header {
    background-color: #000;
    height: 160px;
    margin-left: -20px;
    margin-right: -20px;
}
.content-left{
   padding:20px 0px 20px 50px;
   color:white;
}

.content-right{
    padding:20px 10px 20px 0px;
    color:white;
}
.themed{
    text-align:center;
    float:left !important;
    font-size:35px;
    border-radius:32px;
    color:#fff;
    width:64px;
    height:64px;
    padding-left:5px;
    padding-top:5px;
}
.widget{
    background-color:#ffffff;
    padding:7px;
    margin-top:20px;
    border-radius:10px;
    height:130px;
}
.attendance-content{
    background-color:#ffffff;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
    
}
.fixed-header {
    height: 70px;
    background-color:#002938;
    margin:50px -20px 0px -20px;
    padding:0 20px 0 ;
    
}
.header-left{
    color:white;
    font-weight:600;
    font-size:17px;
}
.add-class {
    background: #21cd54;
    border-radius: 30px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 55px;
    position: absolute;
    right: 25px;
    text-align: center;
    top: 44px;
    width: 50px;
    height: 50px;
    z-index: 1;
    transition: background .2s;
    margin-top:60px;
}
.flat-mb-green-open {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 25px;
    border: 1px solid #21cd54;
    border-radius: 35px;
    outline: 0;
    background-color: #fff;
    color: #21cd54;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 1px;
    transition: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.assessment-name {
    color: #191d23;
    font-size: 15px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



