<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body wizard-content">
				<h4 class="card-title">Attendance</h4>
				<form  id="qrform"  action="/Attendance/CheckTest" method="post" class="tab-wizard wizard-circle">
					<!-- Step 1 -->
					<h6>Personal Info</h6>
					<section>
						<div class="row justify-content-center">
							<img src="~/Content/image/user.png" />
						</div>
						<br />

						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstName1">Student ID :</label>
									<input type="text" class="form-control" disabled>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstName1">Full Name :</label>
									<input type="text" class="form-control" disabled>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstName1">DoB :</label>
									<input type="text" class="form-control" disabled>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-6">
								<div class="form-group">
									<label for="firstName1">Email :</label>
									<input type="text" class="form-control" disabled>
								</div>
							</div>
						</div>
					</section>
					<!-- Step 2 -->
					<h6>Capture Picture</h6>
					<section>
						<div class="row justify-content-center">
							@{Html.RenderPartial("~/Views/Attendance/CaptureImage.cshtml"); }
						</div>
					</section>
					<!-- Step 3 -->
					<h6>Scan Code</h6>
					<section>
						<div class="row justify-content-center">
							@{Html.RenderPartial("~/Views/Attendance/ScanQRCode.cshtml"); }
						</div>
					</section>
					<!-- Step 4 -->
				</form>
			</div>
		</div>
	</div>
</div>