
<div class="card card-outline-success">
	<div class="card-header"><h3 style="color:white"><strong> SESSION</strong></h3></div>
	<div class="card-body">
		<div class="row">
			<h3 class="card-title">Course:</h3>
		</div>
		<div class="body">
			<form>
				<label for="total-week">Total Week</label>
				<div class="form-group">
					<div class="form-line">
						<input type="text" id="total_week" class="form-control">
					</div>
				</div>
				<label for="start_day">Start Day</label>
				<div class="form-group">
					<div class="form-line">
						<input type="date" id="start_day" class="form-control date">
					</div>
				</div>
				<label for="time">Time</label>
				<div class="form-group">
					<div class="form-line">
						<input type="time" id="time" class="form-control">
					</div>
				</div>
				<br>
				<div class="js-sweetalert">
					<button type="submit" class="btn btn-primary m-t-15 waves-effect" data-type="success">SUBMIT</button>
					<button type="reset" class="btn btn-danger m-t-15 waves-effect" onclick="window.location.href='/attendance/index1'">BACK TO LIST</button>
				</div>
			</form>
		</div>
	</div>
</div>