
@{
	ViewBag.Title = "DetailClass1";
	Layout = "~/Views/Shared/_MainLayout.cshtml";

	string active = ViewBag.tab.ToString();
	string date = "nulldate";
	if (ViewBag.date != null)
	{
		date = ViewBag.date.ToString();
	}


}

<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@AttendanceManagement.Resources.Resource.Mygroup</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">@AttendanceManagement.Resources.Resource.Group</a></li>
			<li class="breadcrumb-item active">@AttendanceManagement.Resources.Resource.Mygroup</li>
		</ol>
	</div>
	<div class="col-md-7 col-4 align-self-center">
		<div class="d-flex m-t-10 justify-content-end">
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>THIS MONTH</small></h6>
					<h4 class="m-t-0 text-info">$58,356</h4>
				</div>
				<div class="spark-chart">
					<div id="monthchart"></div>
				</div>
			</div>
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="chart-text m-r-10">
					<h6 class="m-b-0"><small>LAST MONTH</small></h6>
					<h4 class="m-t-0 text-primary">$48,356</h4>
				</div>
				<div class="spark-chart">
					<div id="lastmonthchart"></div>
				</div>
			</div>
			<div class="">
				<button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<!-- Basic Example -->
	<ul class="nav nav-tabs">
		<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12 active">
			<div class="card" style="text-align:center;">
				<a data-toggle="tab" href="#tab1" id="a" style="background-color:#7460ee">
					<h2 style="color:white">
						<span>
							<i class="fa fa-book"></i>
						</span>
						DASHBOARD
					</h2>
				</a>
			</div>

		</li>
		<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="card" style="text-align:center">
				<a data-toggle="tab" href="#tab2" id="b" style="background-color:#fc4b6c">
					<h2 style="color:white">
						<span>
							<i class="fa fa-user"></i>
						</span>
						STUDENTS
					</h2>
				</a>
			</div>
		</li>
		<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="card" style="text-align:center">
				<a data-toggle="tab" href="#tab3" id="c" style="background-color:#26c6da">
					<h2 style="color:white">
						<span>
							<i class="fa fa-check-square-o"></i>
						</span>
						SESSION
					</h2>
				</a>
			</div>
		</li>
		<li class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="card" style="text-align:center">
				<a data-toggle="tab" href="#tab4" id="d" style="background-color:#ffb22b">
					<h2 style="color:white">
						<span>
							<i class="fa fa-pencil-square-o"></i>
						</span>
						ATTENDANCE
					</h2>
				</a>
			</div>
		</li>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab-pane active ">
			@{ Html.RenderPartial("~/Views/Attendance/AllAttendance.cshtml", ViewData["attendance"]); }
		
		</div>
		<div id="tab2" class="tab-pane ">
			@{ Html.RenderPartial("~/Views/Attendance/StudentList.cshtml", ViewData["students"]); }
		</div>
		<div id="tab3" class="tab-pane ">
			@{ Html.RenderPartial("~/Views/Attendance/SessionList.cshtml", ViewData["session"]); }
		</div>
		<div id="tab4" class="tab-pane">
			@if (ViewBag.date == null)
			{
				<div class="card">
					<div class="card-header"><h3 style="color:white"><strong> Check Attendance</strong></h3></div>
					<div class="card-body">
						<div class="row" style="text-align:center">
							<div class="col">
								<button class="btn btn-primary" onclick="choice()">Please choice session</button>
							</div>
						</div>

					</div>
				</div>
			}
			else
			{
				Html.RenderPartial("~/Views/Attendance/AttendanceList.cshtml", ViewData["students"]);
			}
			
		</div>


	</div>
</div>

<script src="~/Content/assets/jquery.min.js"></script>

<script>
$(function () {
	var selector = '@active';
	$("#tab1").removeClass("active");
	$("#tab2").removeClass("active");
	$("#tab3").removeClass("active");
	$("#tab4").removeClass("active");
    $("#" + selector).addClass("active");
});
</script>
<script>
	function choice() {
		$('[href="#tab3"]').tab('show');
	}
</script>



