@model AttendanceManagement.Models.QRCodeModel

@{
	Layout = null;
}

<div class="form-horizontal">

	<span style="color:red; ">@ViewBag.Message </span>

	<div class="row justify-content-center">
		<div class="form-group">
			<div class="col-md-10">
				@if (Model != null && !String.IsNullOrEmpty(Model.QRCodeImagePath))
				{
					<img src="@Url.Content(Model.QRCodeImagePath)" alt="Image" />
				}
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<button id="QRCodeClose" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseAttendance(@Model.QRCodeText)">Close Attendance</button>
	</div>
</div>

<script>
	function CloseAttendance(id) {
		var idData = '{ id:' + id + '}';
		$.ajax({
			type: "POST",
			url: "/AttendanceManagement/Attendance/CloseAttendance?id=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				if (data == true) {
					$("#generateQRcode").modal("hide");
				}
				else {
					alert("error")
				}
			}
		});

	}
</script>