@model AttendanceManagement.Models.QRCodeModel

@{
	Layout = null;
}

<div class="form-horizontal">

	<span style="color:red; ">@ViewBag.Message </span>

	<div class="row justify-content-center">
		<div class="form-group">
			<div class="col-md-10">
				@if (Model != null && !String.IsNullOrEmpty(Model.QRCodeImagePath))
				{
					<img src="@Url.Content(Model.QRCodeImagePath)" alt="Image" />
				}
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<button id="QRCodeClose" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '@Url.Action("CloseAttendance", "Attendance",new { id=Model.QRCodeText })';">Close Attendance</button>
	</div>
</div>