@model AttendanceManagement.Models.QRCodeModel

@{
	Layout = null;
}

<div class="form-horizontal">

	<span style="color:red; ">@ViewBag.Message </span>

	<div class="row justify-content-center">
		<div class="form-group">
			<div class="col-md-10">
				@if (Model != null && !String.IsNullOrEmpty(Model.QRCodeImagePath))
				{
					<img src="@Url.Content(Model.QRCodeImagePath)" alt="Image" />
				}
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<button id="QRCodeClose" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseAttendance(@Model.QRCodeText)">Close Attendance</button>
	</div>
</div>

<script>
	function CloseAttendance(id) {
		$.ajax({
			type: "POST",
			url: "/Attendance/CloseAttendance?id=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				if (data == true) {
					$("#generateQRcode").modal("hide");
					ViewDetailAttendance(id);
				}
				else {
					alert("error")
				}
			}
		});
	}
	function setDate(id) {
		$.ajax({
			type: "POST",
			url: "/Attendance/GetDateAttendance?id=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (res) {
				alert(res)
				$("#thEditDate").html(res.replace(/"/g, ''));
			}
		});
	}
	function ViewDetailAttendance(id) {

		$.ajax({
			type: "GET",
			url: "/Attendance/ViewDetailAttendance?id=" + id,
			contentType: "application/json; charset=utf-8",
			dataType: "html",
			success: function (data) {
				$("#sessionDate").html(data);
				setDate(id);
				$('[href="#tab4"]').tab('show');
				window.onbeforeunload = function () {
					return 'You have unsaved changes!';
				}
			}
		});
	}


</script>