@model IEnumerable<WebApplication.Models.User>

@{
	Layout = null;
}

<script src="~/Content/select2/select2.min.js"></script>
<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
<div>
	<form id="myForm" method="post" action="~/Group/AddGroupOwner">

		<div class="row">
			<select class="js-example-basic-single" name="email">
				@foreach (var item in Model)
				{
					<option value="@item.Email">@item.Email</option>
				}
			</select>
		</div>
		<br />
		<div class="form-group" style="text-align:center">
			<div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-success">Add</button>
			</div>
		</div>
	</form>
</div>
<script>
	$(document).ready(function () {
		$(".js-example-basic-single").select2({ width: '100%' });
	});
</script>