@model IEnumerable<WebApplication.Models.User>

@{
	Layout = null;
}
<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Dual List | Kiaalap - Kiaalap Admin Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
		============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
	<!-- Google Fonts
		============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">

	<script src="~/Content/kiaalap/js/modernizr-2.8.3.min.js"></script>
	<link href="~/Content/kiaalap/css/animate.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/bootstrap-duallistbox.min.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/educate-custon-icon.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/main.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/meanmenu.min.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/metisMenu-vertical.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/metisMenu.min.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/morris.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/normalize.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/owl.carousel.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/owl.theme.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/owl.transitions.css" rel="stylesheet" />
	<link href="~/Content/kiaalap/css/responsive.css" rel="stylesheet" />

</head>

<body>

	<div class="all-content-wrapper">
		<!-- dual list Start -->
		<div class="dual-list-box-area mg-b-15">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="sparkline10-list">
							<div class="sparkline10-hd">
								<div class="row">
									<div class="main-sparkline10-hd">
										<h1>Add Student</h1>
									</div>
								</div>
								<div class="row">

									<div>
										@*@using (Html.BeginForm("ChoseGroup", "Attendance", FormMethod.Post))
										{ }*@

											<div class="row">
												<div class="col" style="margin:0 auto;text-align:center">
													@Html.DropDownList("groupID", (SelectList)ViewBag.Group, "Please select group", new { @class = "form-control" })
													<input type="submit" value="Chose" class="btn btn-default" onclick="Chose()" />
												</div>
											</div>
									
										<div class="row">

										</div>

									</div>
								</div>

							</div>
							<div class="sparkline10-graph">
								<div class="basic-login-form-ad">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="dual-list-box-inner">
												<form id="form" action="~/Attendance/AddStudent" method="post" class="wizard-big">
													<div class="row">
														<select class="form-control dual_select" multiple name="studentlist">
															@if (Model != null)
															{
																foreach (var item in Model)
																{
																	<option value="@item.ID">@item.FullName</option>
																}
															}
														</select>
													</div>
												
													<div class="row">
														<button type="button" class="btn btn-sm btn-primary ui-wizard-content" onclick="Clean"> Clean</button>
														<input type="submit" class="btn btn-sm btn-primary ui-wizard-content" value="Create" />
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- dual list End-->

	</div>

	<!-- jquery
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery-1.12.4.min.js"></script>

	<!-- bootstrap JS
		============================================ -->
	<script src="~/Content/kiaalap/js/bootstrap.min.js"></script>

	<!-- wow JS
		============================================ -->
	<script src="~/Content/kiaalap/js/wow.min.js"></script>
	<!-- price-slider JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery-price-slider.js"></script>
	<!-- meanmenu JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery.meanmenu.js"></script>
	<!-- owl.carousel JS
		============================================ -->
	<script src="~/Content/kiaalap/js/owl.carousel.min.js"></script>
	<!-- sticky JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery.sticky.js"></script>
	<!-- scrollUp JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery.scrollUp.min.js"></script>
	<!-- mCustomScrollbar JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/Content/kiaalap/js/mCustomScrollbar-active.js"></script>

	<!-- metisMenu JS
		============================================ -->
	<script src="~/Content/kiaalap/js/metisMenu.min.js"></script>
	<script src="~/Content/kiaalap/js/metisMenu-active.js"></script>


	<!-- duallistbox JS
		============================================ -->
	<script src="~/Content/kiaalap/js/jquery.bootstrap-duallistbox.js"></script>
	<script src="~/Content/kiaalap/js/duallistbox.active.js"></script>

	<!-- tab JS
		============================================ -->
	<script src="~/Content/kiaalap/js/tab.js"></script>
	<!-- plugins JS
		============================================ -->
	<script src="~/Content/kiaalap/js/plugins.js"></script>
	<!-- main JS
		============================================ -->
	<script src="~/Content/kiaalap/js/main.js"></script>
</body>

</html>

<script>
	function Chose() {
		var groupID = $('#groupID').val();
		var url = "/Attendance/AddStudent?groupID=" + groupID;
		$("#ModalAddStudent").load(url, function () {
			$('.modal-backdrop').remove();
			$("#myAddStudent").modal("show");
		})
	}
</script>

