
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<div class="container-fluid">
    <div class="block-header">
        <h2>ATTENDANCE</h2>
    </div>
    <!-- Custom Content -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        MY CLASS
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="~/Attendance/CreateClass1">Create Class</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" onclick="window.location.href='/attendance/detailclass1'">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="~/Attendance/EditClass1" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="~/Attendance/EditClass1" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="~/Attendance/EditClass1" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h2>K21T1</h2>
                                    <h3><strong>Start day</strong>: 03/05/2019 </h3>
                                    <p>
                                        <strong>Description:</strong> Khoa công nghệ thông tin
                                    </p>
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-danger waves-effect" role="button">Edit class</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Custom Content -->
</div>
