
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/Attendance.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="fixed-header row">
    <div class="col-md-4 col-xs-6 header-left">
        <h3>Welcome to SIMS,<strong> Ninh</strong>!</h3>
    </div>
    <div class="col-md-8 col-xs-6 add-class">
        <i type="button" class="fa fa-plus" data-toggle="modal" data-target="#myModal"></i>

    </div>
</div>
<div class="attendance-content">
    <div class="row">
        <div class="col-md-6">
            <h3>My Class</h3>
        </div>
        <form class="navbar-form navbar-left">
            <div class="form-group ">
                <input style="border-radius:5px" type="text" id="myInput" class="form-control" placeholder="Search ...">
            </div>
        </form>
    </div>
    <hr />
    <div class="row" id="myList">
        <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><strong><a href="~/Attendance/manageClass">Capston Team 04</a></strong></h3>
                    <small>Start day: 27-11-2018</small>
                    <p>Description: ....</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><strong><a href="~/Attendance/manageClass">Capston Team 05</a></strong></h3>
                    <small>Start day: 27-11-2018</small>
                    <p>Description: ....</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><strong><a href="~/Attendance/manageClass">Capston Team 07</a></strong></h3>
                    <small>Start day: 27-11-2018</small>
                    <p>Description: ....</p>
                    <br />
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-xs-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><strong><a href="~/Attendance/manageClass">Capston Team 06</a></strong></h3>
                    <small>Start day: 27-11-2018</small>
                    <p>Description: ....</p>
                    <br />
                </div>
            </div>
        </div>

    </div>

</div>
<div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--Dialog create new class-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create new <strong>Class</strong></h4>
            </div>
            <div class="modal-body">
                <!--Name-->
                <div class="row">
                    <div class="col-md-4">
                        <p class="clearfix">
                            <i class="fa fa-book fa-2x text-primary pull-left"></i> Class name
                        </p>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control ui-wizard-content" placeholder="Your class">
                    </div>
                </div>
                <hr />
                <!--Calendar-->
                <div class="row">
                    <div class="col-md-4">
                        <p class="clearfix">
                            <i class=" fa fa-calendar fa-2x text-primary pull-left"></i> Start date
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group date">
                            <input type="text" class="form-control" placeholder="dd/mm/yyyy"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>

                <hr />
                <!--Description-->
                <div class="row">
                    <div class="col-md-4">
                        <p class="clearfix">
                            <i class=" fa fa-pencil-square-o fa-2x text-primary pull-left"></i> Description
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" placeholder="Description...."></textarea>
                        </div>
                    </div>
                </div>


                <hr />
                <!--Submit-->
                <div>
                    <p class="clearfix">
                        <i class="fa fa-check fa-3x text-primary pull-left"></i>
                        "Click Submit to create your <strong>class</strong><br />
                        Then you'll be ready to immediately take attendance!<br />
                        Or continue managing your <strong>class</strong>
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-5">
                        <button type="button" class="btn btn-sm btn-primary ui-wizard-content"> Clean</button>
                        <button type="button" class="btn btn-sm btn-primary ui-wizard-content"> Submit</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList *").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>



