
@{
    ViewBag.Title = "manageClass";
}
<link href="~/Content/Attendance.css" rel="stylesheet" />
<div class="fixed-header row">
    <div class="col-md-4 col-xs-6 header-left">
        <h3><strong>Capston Team 04</strong></h3>
    </div>
</div>
<div class="row">
    <!--Take Attendance-->
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <a href="#">
                <div>
                    <span class="themed" style="background-color:#e67e22 !important;"> <i class="fa fa-pencil-square-o"></i></span>
                    <h3 class="widget-content">
                        Take
                        <strong>Attendance</strong><br />
                        <small>Quick add</small>
                    </h3>
                </div>
            </a>
        </div>
    </div>
    <!--Manage your classes-->
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <a href="#">
                <div>
                    <span class="themed" style="background-color:#e74c3c !important;"> <i class="fa fa-book"></i></span>
                    <h3 class="widget-content">
                        Manage Your
                        <strong>Classes</strong><br />
                        <small>Class Dashboard</small>
                    </h3>
                </div>
            </a>
        </div>
    </div>
    <!--Add Edit your Student-->
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <a href="#">
                <div>
                    <span class="themed" style="background-color:#27ae60 !important"> <i class="fa fa-user"></i></span>
                    <h3 class="widget-content">
                        Add/Edit Your
                        <strong>Students</strong><br />
                        <small>Student Center</small>
                    </h3>
                </div>
            </a>
        </div>
    </div>
    <!--Record Grades-->
    <div class="col-sm-6 col-lg-3">
        <div class="widget">
            <a href="#">
                <div>
                    <span class="themed" style="background-color:#af64aa !important"> <i class="fa fa-check-square-o"></i></span>
                    <h3 class="widget-content">
                        Record
                        <strong>Grades</strong><br />
                        <small>MyAT Gradebook</small>
                    </h3>
                </div>
            </a>
        </div>
    </div>
</div>


