
@{
    ViewBag.Title = "ManageFaculty";
}
<style>
    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

    .custab:hover {
            box-shadow: 3px 3px 0px transparent;
            transition: 0.5s;
    }
    .pagination > li > a, .pagination > li > span {
        border-radius: 50% !important;
        margin: 0 5px;
    
    }
    #button {
        width: 80px;
        height: 25px;
        font-size: 15px;
    }

    {
        margin: 0;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -.75rem;
        margin-left: -.75rem;
    }
    #but {
        box-shadow: 5px 3px #888888;
    }
</style>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div style="width:100%" class="row col-md-6 col-md-offset-2 custyle">
        
            <h3 style="color:black;font-size:30px; width:100%">Manage Faculty</h3>
        
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" style="width:300px">                   
                    <label style="float:left">                       
                        <select id="but" style="border-radius:10px; float:left" name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">                         
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label> 
                    <h4 style="margin-left:80px">Hiển thị</h4>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                
                <div id="dataTable_filter" class="dataTables_filter" >
                    <label><input id="but" type="search" class="form-control form-control-sm" placeholder="Tìm kiếm ..." aria-controls="dataTable" style="border-radius:10px;width:300px"></label>
                </div>
            </div>
        </div>
        <table id="example" class="table table-striped custab">

            <thead style="background-color:cadetblue">
                @*<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>*@
                <tr style="color:black;font-size:20px">
                    <th>Mã nghành</th>
                    <th>Tên ngành</th>
                    <th>Tên khoa</th>
                    
                </tr>
            </thead>
            <tr style="font-size:15px">
                <td>1</td>
                <td>News</td>
                <td>News Cate</td>
            </tr>
        </table>
        <ul class="pagination" style="float:right">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
