@model WebApplication.Models.User
@{

    ViewBag.Title = "ManageStudent";
}

<style>
    #label {
        font-size: 20px;
    }

    #Name {
        width: 60%;
        height: 25px;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .col-6 {
        width: 100%;
    }
</style>
<script>
    $(document).ready(function () {
        $('#listSV').DataTable();
    });
</script>
<link href="~/Content/Attendance.css" rel="stylesheet" />
<div class="fixed-header row">
    <div class="col-md-4 col-xs-6 header-left">
        <h3><strong>My Students</strong></h3>
    </div>
</div>
<div class="attendance-content">
    <div style="font-weight:bold" class="row">
        <div class="col-sm-2 col-md-2">
            <h4 class="text-left"><strong>Short Class List By:</strong></h4>
        </div>
        <div class="col-sm-1 col-md-4">
            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Last Name
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">

                    <li><a href="#">Full Name</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    A-Z
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">A-Z</a></li>
                    <li><a href="#">Z-A</a></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-5 col-md-6" style="float:right; font-size:30px">
            <div class="row" style="padding:20px">
                <div style="color: blue;border: 1px solid blue" class="flat-mb-green-open col-md-6 col-sm-12 col-xs-12"><i class="material-icons"></i>PRINT ROSTER</div>
                <button type="button" class="flat-mb-green-open col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal"><i class="material-icons"></i>ENROLL STUDENT</button>

                <!-- Modal Of Create -->
                <div class="col-lg-12">
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="color:black;font-weight:bold">Student Infomation</h4>

                                </div>

                                <div class="col-lg-12">
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="col-6">
                                                <form role="form">


                                                    <div class="form-group float-label-control">

                                                        <input type="text" id="Name" class="form-control">
                                                        <label id="label">Fullname</label>

                                                    </div>
                                                    <div style="float:left" class="form-group float-label-control">

                                                        <input type="text" id="Name" class="form-control">
                                                        <label id="label">StudentID</label>
                                                    </div>

                                                    <div style="color:#7a7a52;border: 1px solid #ccccb3" class="flat-mb-green-open"><i class="material-icons"></i><span class="glyphicon glyphicon-trash"></span>  DELETE STUDENT</div>

                                                    <div style="padding-top:80px">
                                                        <h5>CLASSES ENROLLED IN</h5>
                                                    </div>
                                                    <hr />
                                                    <div id="label" style="float:left">
                                                        <span style="color:red" class="glyphicon glyphicon-education"></span> Capstone
                                                    </div>
                                                    <div style="padding-left:50% ">
                                                        <div style="height:32px;color:#7a7a52;border: 1px solid #ccccb3" class="flat-mb-green-open"><i class="material-icons"></i>UNENROLL</div>
                                                    </div>
                                                    <div style="padding-left:15%">
                                                        <button type="button" class="flat-mb-green-open" data-toggle="modal" data-target="#myModal"><i class="material-icons"></i>ENROLL IN A CLASS</button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="text-center">
        <div class="table-responsive" style="padding: 20px">
            <table id="listSV" class="table table-hover ">
                <tbody>
                    @foreach (var item in ViewBag.User)
                    {
                        <tr class="col-lg-12">
                            <td style="width:8%">
                                <img src="img_avatar.png" alt="Avatar" class="avatar" width="10%">
                            </td>
                            <td>
                                <b style="float:left;color:black">@item.FullName</b>
                                <br /><div style="float:left">Student ID:@item.StID</div>
                            </td>

                            <td class="col-lg-1">
                                <div style="color:#7a7a52;border: 1px solid #ccccb3" class="flat-mb-green-open"><i class="material-icons"></i>UNENROLL</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>