@model WebApplication.Models.User
@{
    ViewBag.Title = "manageClass";
}
<link href="~/Content/Attendance.css" rel="stylesheet" />
<link href="~/Scripts/wizard/Wizard.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #but {
        float: left;
        margin-left: 10%;
        height: 40px;
        font-size: 25px;
    }

    #a {
        height: 80px;
        border-radius: 10px;
    }

    #span {
        color: white;
    }

    #li {
        width: 300px;
        height: 100px;
    }

    #a {
        border: 1px solid none;
        font-size: 30px;
        color: white;
        height: 90%;
    }

    #lab {
        font-size: 20px;
    }

    #label {
        font-size: 20px;
    }

    #Name {
        width: 60%;
        height: 25px;
    }

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .col-6 {
        width: 100%;
    }

    #session {
        width: 140px;
        background-color: darksalmon;
        height: 60px;
        font-size: 25px;
        border-radius: 10px;
    }
</style>
<div class="fixed-header row">
    <div class="col-md-4 col-xs-6 header-left">
        <h3><strong>Capston Team 04</strong></h3>
    </div>
</div>
<div class="row">

    <div class="container">
        <div class="col-lg-12" style="margin-top:20px">
            <ul class="nav nav-tabs">
                <li class="active" id="li"><a data-toggle="tab" href="#home" id="a" style="background-color:tomato"><span id="theme" class="themed" style="background-color:#e74c3c !important;"> <i class="fa fa-book"></i></span><div>Dashboard</div></a></li>
                <li id="li"><a data-toggle="tab" href="#menu1" id="a" style="background-color:darkolivegreen"><span id="theme" class="themed" style="background-color:#27ae60 !important"> <i class="fa fa-user"></i></span>Students</a></li>
                <li id="li"><a data-toggle="tab" href="#menu2" id="a" style="background-color:#8d52ab"><span id="theme" class="themed" style="background-color:#af64aa !important"> <i class="fa fa-check-square-o"></i></span>Session</a></li>
                <li id="li"><a href="~/Attendance/AttendanceExcel" id="a" style="background-color:chocolate"><span id="theme" class="themed" style="background-color:#e67e22 !important;"> <i class="fa fa-pencil-square-o"></i></span>Attendance</a></li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active">
                    <script>
                        $(document).ready(function () {
                            $('#listSV').DataTable();
                        });
                    </script>
                    <link href="~/Content/Attendance.css" rel="stylesheet" />
                    <div class="fixed-header row" style="background-color:white">
                        <div class="col-md-4 col-xs-6 header-left">
                            <h3><strong style="color:black">My Students</strong></h3>
                        </div>
                    </div>
                    <div class="attendance-content">
                        <div style="font-weight:bold" class="row">
                            <div class="col-sm-2 col-md-2">
                                <h4 class="text-left"><strong>Short Class List By:</strong></h4>
                            </div>
                            <div class="col-sm-1 col-md-4">
                                <div class="dropdown">

                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        Last Name
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">

                                        <li><a href="#">Full Name</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        A-Z
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">A-Z</a></li>
                                        <li><a href="#">Z-A</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6" style="float:right; font-size:30px">
                                <div class="row" style="padding:20px">
                                    <div style="color: white;background-color:blue" class="flat-mb-green-open col-md-6 col-sm-12 col-xs-12"><i class="material-icons"></i>PRINT ROSTER</div>
                                    <button style="color:white;background-color:#21cd54" type="button" class="flat-mb-green-open col-md-6 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal"><i class="material-icons"></i>ENROLL STUDENT</button>

                                    <!-- Modal Of Create -->


                                </div>
                            </div>
                        </div>



                        <div class="text-center">
                            <div class="table-responsive" style="padding: 20px">
                                <table id="listSV" class="table table-hover ">
                                    <tbody>
                                            @*@foreach (var item in ViewBag.user)
                                            {
                                                <tr class="col-lg-12">
                                                    <td style="width:8%">
                                                        <img src="data:image/png;base64,@item.avatarbase64" alt="avatar" class="avatar" width="10%">
                                                    </td>
                                                    <td>
                                                        <b style="float:left;color:black">@item.fullname</b>
                                                        <br /><div style="float:left">student id:@item.stid</div>
                                                    </td>

                                                    <td class="col-lg-1">
                                                        <div style="color:white;background-color:#ccccb3" class="flat-mb-green-open"><i class="material-icons"></i>unenroll</div>
                                                    </td>
                                                </tr>
                                            }*@
                                        </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div id="home" class="tab-pane fade">
                    <div class="fixed-header row" style="background-color:white">
                        <div class="col-md-4 col-xs-6 header-left">
                            <h3><strong style="color:black">My Students</strong></h3>
                        </div>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div class="fixed-header row" style="background-color:white">
                        <div class="col-md-4 col-xs-6 header-left">
                            <h3><strong style="color:black">My Session</strong></h3>
                        </div>
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" style="color:black;font-size:30px"><strong>My Session</strong></h4>
                            </div>

                            <div class="modal-body">
                                <!--total week-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="clearfix" id="lab">
                                            <i class="fa fa-calendar fa-2x text-primary pull-left" id="icon"></i> total week
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control ui-wizard-content" placeholder="total week...">
                                    </div>
                                </div>

                                <hr />
                                <!--choose session for a week-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="clearfix" id="lab">
                                            <i class=" fa fa-calendar-check-o fa-2x text-primary pull-left" id="icon"></i> choose session for a week
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weekdays-selector">
                                            <input type="checkbox" id="weekday-mon" class="weekday" />
                                            <label for="weekday-mon">t2</label>
                                            <input type="checkbox" id="weekday-tue" class="weekday" />
                                            <label for="weekday-tue">t3</label>
                                            <input type="checkbox" id="weekday-wed" class="weekday" />
                                            <label for="weekday-wed">t4</label>
                                            <input type="checkbox" id="weekday-thu" class="weekday" />
                                            <label for="weekday-thu">t5</label>
                                            <input type="checkbox" id="weekday-fri" class="weekday" />
                                            <label for="weekday-fri">t6</label>
                                            <input type="checkbox" id="weekday-sat" class="weekday" />
                                            <label for="weekday-sat">t7</label>
                                            <input style="margin-left:20px; border-radius:10px; width:300px; border-color:aqua" type="date"  class="weekday" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <!--submit-->

                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button id="session" type="button" class="btn btn-sm btn-primary ui-wizard-content"> Clean</button>
                                        <button id="session" type="button" class="btn btn-sm btn-primary ui-wizard-content"> Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @*<div id="menu3" class="tab-pane fade">
                    <div class="fixed-header row" style="background-color:white">
                        <div class="col-md-4 col-xs-6 header-left">
                            <h3><strong style="color:black">Attendance</strong></h3>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!--dialog manage session-->
    


