<script src="~/Content/assets/sweetalert.min.js"></script>
<script src="~/Content/assets/js.cookie.js"></script>
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@AttendanceManagement.Resources.Resource.Home</h3>
	</div>
</div>
<div class="card">
	<div class="form-group">
		<label>search student </label>
		<input type="text" class="form-control" placeholder="type & enter">
	</div>
</div>
<img src="~/Content/image/anh-co-so-3.jpg" style="max-width:100%" />
<script>
	var notStudent = Cookies.get('notStudent');
	if (notStudent) {
		swal({
			title: "Notification!",
			text: "You aren't student",
			type: "error",
			closeOnConfirm: true
		});
		Cookies.remove('notStudent');
	}

</script>
