<script src="~/Content/assets/sweetalert.min.js"></script>
<script src="~/Content/assets/js.cookie.js"></script>
<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor">@AttendanceManagement.Resources.Resource.Home</h3>
	</div>
</div>
<div class="card">
	<br />
	<div class="form-group">
		<div class="row justify-content-center">
			<h2><strong>Tìm kiếm thông tin điểm danh sinh viên</strong> </h2>
		</div>
		<input type="text" id="SearchAttendance" class="form-control" placeholder="Nhập mã số sinh viên hoặc email">
	</div>
	<div class="row justify-content-center">
		<div class="loader" id="loader" style="display:none"></div>
	</div>
	<br />

	<div id="result"></div>
</div>
<img src="~/Content/image/anh-co-so-3.jpg" style="max-width:100%" />
<script>
	var notStudent = Cookies.get('notStudent');
	if (notStudent) {
		swal({
			title: "Notification!",
			text: "You aren't student",
			type: "error",
			closeOnConfirm: true
		});
		Cookies.remove('notStudent');
	}
	var input = document.getElementById("SearchAttendance");

	input.addEventListener("keyup", function (event) {
		if (event.keyCode === 13) {
			$('#result').html("");
			$('#loader').show();
			$.get('@Url.Action("SearchAttendance", "Attendance")?searchString=' + $('#SearchAttendance').val()).done(function (data) {
				$('#loader').hide();
				$('#result').html(data);
		});
		}
	});
</script>
